div#divhead{
    text-align:left;
    display: inline-block;
    list-style-type: none;
}

body {
    background-color: grey;
    font-family: Verdana, sans-serif; 
    font-size: 100%;
}
a{  
text-align:left;
display: inline-block;
list-style-type: none;
}
h1{
    color: whitesmoke ;
}