#Nom {
    margin-left: 23px;
}

#Prenom {
    margin-left: 5px;
}
#Age{
    margin-left: 28px;
}
#Sexe{
    margin-left: 23px;
}
#Message {
    margin-left: 0px;
}
#Bouton{
    margin-top: 3%;
    margin-left: 25px;
}
